<%= form_with(model: @chunter, local: true) do |form| %>
  <% if @chunter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @chunter.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @chunter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Chunter_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to '一覧画面へ戻る', chunters_path %>
